@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
}

*::selection {
  background: #eff1ff;
  color: #1900a8;
}

*::-moz-selection {
  background: #eff1ff;
  color: #1900a8;
}

section {
  scroll-margin-top: 5rem;
}

/* Colours
navbar
#4A4E69

links
#767BBC
#474C90

buttons
#F5F7FF
#EFF1FF

light text
#AAAEC7

accented text
#1900A8;
*/
